body {
    font-family: 'Bebas Neue W01 Regular';
    /* margin: 0; */
    /* padding: 0; */
}

#logo {
    float: left;
    display: inline-block;
    color: red;
}

#nav {
    background-color: white;
    /*turns nav bar white*/
    color: black;
    width: 100%;
}

.nav {
    float: left;
    list-style: none;
    /*gets rid of bullet points*/
    /* text-align: left; */
    /*padding: 0px -10px 0px -10px; */
    margin: 0;
    margin-top: 18px;
}

.navTwo {
    float: right;
    list-style: none;
    margin: 0;
    margin-top: 18px;
}

.nav li {
    display: Inline-block;
    padding: 10px 9px 10px 9px;
     /*nav bar text */
}

.navTwo li {
    display: inline-block;
    padding: 10px 9px 10px 9px; 
}

.nav li a {                                               
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px 0px 5px 0px
}

.navTwo li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px 0px 5px 0px;
}

