body {
    font-family: 'Bebas Neue W01 Regular';
    letter-spacing: 1px;
}

h1 {
    color: red;
    /* margin-left: 1.3em; */
    font-size: 2.5em;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 15;
    text-align: right;

}

ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    font-size: 18px;

}

li {
    display: inline;
    position: relative;
    margin-right: 8px;
}

.exitKids{
    background-color: red;
    color: white;
    padding: 8.5px;
    font-size: 16px;
}

#main {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    margin-top: 20px;
}

#nav1 {
    padding-top: .7em;
    text-align: left;
}

#nav2 {
    text-align: right;
    margin-right: 3em;
    padding-top: .7em;
}

.list2 {
    padding-left: 2em;
}

.list1 {
    margin-left: 3em;
    color: red;
}

/* Character Circle Row */
#circleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 60px 0px 60px;
}

.circles {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    overflow: hidden;
}

.circles img {
    height: inherit;
    width: inherit;
}


/* CIRCLE 1 */
#circle1:hover {
    transform: scale(1.5);
    transition: transform .3s;
}

#circle1 {
    transition: transform .3s;
}

/* CIRCLE 2 */

#circle2:hover {
    transform: scale(1.5);
    transition: transform .3s;
}

#circle2{
    transition: transform .3s;
}

/* CIRCLE 3 */

#circle3:hover {
    transform: scale(1.5);
    transition: transform .3s;
}

#circle3{
    transition: transform .3s;
}

/* CIRCLE 4 */

#circle4:hover {
    transform: scale(1.5);
    transition: transform .3s;
}

#circle4{
    transition: transform .3s;
}

/* CIRCLE 5 */

#circle5:hover {
    transform: scale(1.5);
    transition: transform .3s;
}

#circle5{
    transition: transform .3s;
}

/* CIRCLE 6 */

#circle6:hover {
    transform: scale(1.5);
    transition: transform .3s;
}

#circle6{
    transition: transform .3s;
}

/* Continue Row */
#continueRow {
    display: flex;
    flex-direction: row;
    padding: 10px 0px 0px 70px;
}

#watchRow {
    height: 50px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 0px 40px 0px 70px;
    transition: 1s transform;
}

#watchRow:hover {
    transform: translate3d(-45px, 0, 0);
}

#watchRow .img {
    transition: 1s transform;
    transform-origin: top left;
    /* margin-right: 5px; */
    box-sizing: border-box;
    height: 80px;
    width: 290px;
}

.img:hover {
    transform: scale(1.4);
}

.img:hover ~ .img {
    transform: translate3d(115px, 0, 0);
}

#continueRow p {
    font-size: 1.6rem;
    display: block;
    margin-block-start: 1.5em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.img img {
    height: 160px;
    object-fit: cover;
}

/* Trucks Row */
#trainsAndTrucks {
    display: flex;
    flex-direction: row;
    padding: 80px 0px 0px 60px;
}

#watchRow2 {
    height: 50px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 0px 40px 0px 60px;
}

#watchRow2 .img {
    margin-right: 5px;
}

#trainsAndTrucks p {
    font-size: 1.6rem;
    display: block;
    margin-block-start: 1.5em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/*
#submain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    width: 85%;
    margin-left:15%;
}
#main{
    display: inline;
    flex-direction: row;
   
}
#nav1{
    display: block; 
} */